.container1{
    /* background: red; */
    width: 20%;
    height: 100vh;
    position: fixed;
    /* z-index: 1; */
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container2{
    background: #EFFBF8;
    width: 80%;
    height: 200vh;
    right: 0px;
    position:absolute;
}

.sub-container2{
    margin: 20px;

}

body{
    margin: 0;
}

.tempat-profil{
background-color: #A4A5FF;
width: 210px;
height: 210px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 15px;
}

#foto-profil{
    width: 200px;
    border-radius: 50%;
}

.tempat-tombol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 70px;
    width: 200px;
}

.tombol{
    border: none;
    background-color: white;
    font-size: 20px;
    padding: 10px;
}

.tombol:hover{
    color: black;
    background-color: #EFFBF8;
    border-radius: 20px;
}

.tempat-sosmed{
    margin-top: 70px;
    display: flex;
    gap: 10px; /*Membuat jarak antar gambar icon sosmed*/
}

.tempat-sosmed i{
  font-size: 30px;
  background-color: #EFFBF8 ;
  border-radius: 50%;
  margin: 5px; /*mendorong dari pusat tengah keluar*/
  color: #130F49;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
    text-decoration: none;
}

h1{
    margin: 0;
}

.footer1{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column; 
    margin-top: 15px;
    gap: 10px;
}

.nama{
    color: #7091F5;
    
}

.welcome{
    font-size: 50px;
    
}

.interest{
    font-size: 20px;
}