@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Homemade+Apple&family=Pinyon+Script&display=swap");

#foto-article-mobile {
  margin-top: 80px;
  width: 190px;
}

.bg-foto-ungu {
  background-color: #a4a5ff;
  width: 300px;
  height: 170px;
  margin-top: 125px;
}

.tempat-ttd {
  font-family: "Pinyon Script", cursive;
}

.greetings {
  margin-top: 90px;
}

.my-cv {
  background-color: #a4a5ff;
}
#foto-profil {
  width: 200px;
  border-radius: 50%;
}
.img-box {
  width: 300px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.btn-contactme {
  background-color: #a4a5ff;
}

.tempat-profil {
  background-color: #a4a5ff;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#foto-profil {
  width: 200px;
  border-radius: 50%;
}

.tempat-tombol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
  width: 200px;
}

.tombol {
  border: none;
  background-color: white;
  font-size: 20px;
  padding: 10px;
}

.tombol:hover {
  color: black;
  background-color: #effbf8;
  border-radius: 20px;
}

.tempat-sosmed {
  margin-top: 70px;
  display: flex;
  gap: 10px; /*Membuat jarak antar gambar icon sosmed*/
}

.tempat-sosmed i {
  font-size: 30px;
  background-color: #effbf8;
  border-radius: 50%;
  margin: 5px; /*mendorong dari pusat tengah keluar*/
  color: #130f49;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer1 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}

@media (min-width: 576px) {
  #foto-article-mobile {
  }
}
